<%= form_for :link, url: links_path, method: 'POST', remote: true, html: {id: 'form_links_create', class: 'relative g:pb-12', 'data-error-msg': tr('form.error_message')} do |form| %>
  <div class="sm:flex">
    <%= form.text_field :url, placeholder: tr('form.placeholder'), class: 'input-field input-field:focus', autocomplete: 'off' %>
    <button
      type="submit"
      id="new_link_button"
      data-initial-msg="<%= tr 'form.button'  %>"
      data-submitting-msg="<%= tr 'form.button_saving'  %>"
      class="button button:focus button:hover mt-4 h-12 py-3 px-6 sm:w-auto sm:h-auto sm:mt-0 lg:mt-0 sm:ml-4"><%= tr 'form.button'  %></button>
  </div>
  <div id="error_explanation" class="error-message" style="opacity:0"></div>
<% end %>
