<div class="link card md:w-1/2 lg:w-1/3">
  <a href="<%= link_url(link.slug) %>" target="_blank" class="card-inner hover:bg-gray-200">
    <div>
      <h3 class="mb-3 flex font-bold">
        <% if link.title.present? %>
            <% if link.logo_url.present? %>
              <div class="mr-3 w-12"><img class="rounded" height="30" width="30" src="<%= link.logo_url %>"/></div>
            <% end %>
            <%= link.title.truncate(75, separator: '...') %>
          </h3>
        <% else %>
          <%= link.url.truncate(35, separator: '...') %>
        <% end %>
      </h3>
      <p class="text-sm text-gray-700"><%= link.description.truncate(100, separator: '...') if link.description.present? %></p>
    </div>
    <div class="text-sm mt-auto flex text-gray-400 border-t border-gray-400 pt-3">
      <span class="mr-auto"><strong><%= link.clicks_count %></strong> <%= tr 'links.clicks' %></span>
      <span><%=raw tr 'links.created_ago', {time: time_ago_in_words(link.created_at)} %></span>
    </div>
  </a>
</div>