<div class="container mx-auto py-24 px-6">
  <h1 class="header xl:text-5xl"><%= tr 'links.header' %></h1>
  <p class="subheader xl:text-2xl"><%= tr 'links.subheader' %></p>

  <div id="links_index" class="flex flex-wrap -mx-2">
    <% if @links.count > 0 %>
      <%= render partial: 'links/link', collection: @links %>
    <% else %>
      <div class="py-12 px-2"><%=raw tr 'links.none_found' %></div>
    <% end %>
  </div>
</div>
