@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.transition-opacity {
  transition: opacity .25s ease;
}

.transition-right {
  transition: right .25s ease;
}

#success {
  &.hide {
    right: -100%;
  }
  &.show {
    right: 0 !important;
  }
}

.header {
  @apply mb-3 text-4xl leading-tight font-semibold;
}

.subheader {
  @apply mb-10 text-lg max-w-xl text-gray-400;
}

.card {
  @apply w-full px-2 mb-4;
}

.card-inner {
  @apply flex flex-col bg-white rounded text-black p-5 h-48;
}

.error-message {
  @apply transition-opacity absolute bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mt-4;
}

.input-field {
  @apply block w-full px-5 py-3 text-lg leading-snug text-black appearance-none bg-white rounded-lg;
}

.input-field:focus {
  @apply outline-none shadow-outline;
}

.button {
  @apply relative block w-full font-semibold leading-snug bg-gray-700 text-white uppercase tracking-wide rounded-lg shadow-md;
}

.button:focus {
  @apply outline-none shadow-outline;
}

.button:hover {
  @apply bg-gray-600;
}
