<div class="absolute top-0 left-0 flex w-full z-10">
  <div class="bg-white border-b-2 border-l-2 border-r-2 border-gray-800 py-3 px-5 mx-auto rounded-b">
    <a class="font-bold text-sm text-gray-800 hover:text-gray-600 mr-4" href="/"><%= tr 'home.shorten_link' %></a>
    <a class="font-bold text-sm text-gray-800 hover:text-gray-600" href="<%= links_path %>"><%= tr 'home.top_100' %></a>
  </div>
</div>