<div class="flex flex-col lg:flex-row h-screen overflow-hidden">
  <div class="relative lg:min-w-3xl xl:min-w-4xl lg:flex lg:items-center lg:justify-center lg:w-3/5 bg-no-repeat px-6 lg:px-12 py-24 lg:py-0">
    <div class="md:max-w-3xl md:mx-auto lg:max-w-full lg:pt-0">
      <h1 class="header xl:text-5xl"><%= tr 'home.header' %></h1>
      <p class="subheader xl:text-2xl"><%= tr 'home.subheader' %></p>
      <%= render partial: 'links/form' %>
    </div>
  </div>
  <div id="success" class="bg-white flex-1 lg:flex transition-right relative px-6 lg:px-12 py-24 lg:py-0 hide">
    <div class="lg:pt-0 my-auto w-full">
      <h1 class="mb-3 text-4xl leading-tight xl:text-5xl font-semibold font-display text-black"><%= tr 'home.success_header' %></h1>
      <p class="mb-10 text-lg max-w-xl lg:max-w-3xl text-gray-400 xl:text-2xl"><%= tr 'home.success_subheader' %></p>
      <div class="relative">
        <%= text_field '', 'copy_link_field', id: 'copy_link_field', readonly: true, class: 'input-field input-field:focus border-2' %>
        <div class="absolute h-full flex right-0 top-0">
          <button type="button" id="copy_link_button" data-initial-msg="<%= tr 'form.copy'  %>" data-success-msg="<%= tr 'form.copied'  %>" class="button button:focus button:hover my-auto mr-2 px-5 py-2" data-clipboard-target="#copy_link_field"><%= tr 'form.copy'  %></button>
        </div>
      </div>
    </div>
  </div>
</div>