<!DOCTYPE html>
<html>
  <head>
    <title>Wiffl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-800">
    <div class="font-sans text-white relative">
      <%= render partial: '/nav' %>
      <%= yield %>
    </div>
  </body>
</html>
